*.db
*sqlite3
*.rdb
*.egg-info
*.log
*.pyc
*.swp
.DS_Store
.cache
.coverage
.coverage.*
.idea
.vagrant
.vscode
.tox
.env
.rope_project/
.ropeproject/
/media
/static
.pytest_cache/
__pycache__
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
